# Gradle
.gradle/
build/
local.properties
gradle-app.setting
.gradletasknamecache

# Android
*.apk
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
release/
captures/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml
.navigation/
.DS_Store

# Keys
*.jks
*.keystore
